<head><title><%=@con= "Articles"%></title></head>
<table style="height: 60px;">
 <tbody>
   <tr>
     <td  class='align-middle'>   
      <button type="button" class="btn  btn-sm " style="background-color:#003031;">
               <i class="fa fa-plus text-white" ></i>
                   <%= link_to 'New article', new_article_path ,  :class => 'text-white' %>
       </button>
    </td>
   </tr>
  </tbody>
</table>

<%# <%= link_to 'New article', new_article_path %> 
 <% @articles.each do |article| %>
<div class=" jumbotron bg-white ">
<div class="">
    <h1  class='glow'><%= article.title.capitalize%> <h5><span class="badge">~ <%= article.authername %></span></h5></h1>
    <p><%= article.text[0,200] %>.....</p>
    <div class='container'>
    <div class="pull-right label">
        <%# <button type="button" class="btn btn-outline-primary"><%= link_to 'Read', article_path(article),  :class => 'text-primary' </button>  %>
        <%= link_to 'Read more..', article_path(article), {:style=>'color:#e3342f;'} %>
        <% if current_user.username==article.authername %> 
        <%# <button type="button" class="btn btn-outline-success"><%= link_to 'Edit', edit_article_path(article) ,  :class => 'text-success'</button> %> 
        <i class="fa fa-edit" ></i>
          <%= link_to 'Edit', edit_article_path(article) ,  :style => 'color:#8e000b;' %>
        <%# <button type="button" class="btn btn-outline-danger"><%= link_to 'Delete', article_path(article),  :class => 'text-danger',method: :delete,data: { confirm: 'Are you sure?' }</button> %>
         <i class="fa fa-trash" ></i>
          <%= link_to 'Delete',article_path(article) ,  :class => '',method: :delete,data: { confirm: 'Are you sure?' }, :style => 'color:#000000;'%>
      <% end %>      
       <%# <span class="label label-info">personal</span> %>
     </div>
     </div>
 
 </div>
 
 </div> 


<% end %>
