
<table style="height: 60px;">
 <tbody>
   <tr>
     <td  class='align-middle'>   
     <button type="button" class="btn btn-success  btn-sm "><i class="fa fa-plus"></i> <%= link_to 'New article', new_article_path ,  :class => 'text-white' %></button>
    </td>
   </tr>
  </tbody>
</table>

<%# <%= link_to 'New article', new_article_path %> 
 <% @articles.each do |article| %>
<div class="jumbotron">
<div class="">
    <h1><%= article.title.capitalize %> <h5><span class="badge">~ <%= article.authername %></span></h5></h1>
    <p><%= article.text[0,200] %>.....</p>
    <div class='container'>
    <div class="pull-right label">
        <button type="button" class="btn btn-outline-primary"><%= link_to 'Read', article_path(article),  :class => 'text-primary'  %></button>
      <% if current_user.username==article.authername %> 
        <button type="button" class="btn btn-outline-success"><%= link_to 'Edit', edit_article_path(article) ,  :class => 'text-success'%></button>
        <button type="button" class="btn btn-outline-danger"><%= link_to 'Delete', article_path(article),  :class => 'text-danger',method: :delete,data: { confirm: 'Are you sure?' } %></button>
      <% end %>      
       <%# <span class="label label-info">personal</span> %>
     </div>
     </div>
 
 </div>
 
 </div> 


<% end %>
