<head> <title> <%=@con= @article.title%></title></head>
<div class="container-md mt-2  border bg-dark text-center ">
    <h1 class = "text-light"><%= @article.title.capitalize %> <h5><span class="badge text-light">~ <%= @article.authername %></span></h5></h1>
</div> 
<div class="jumbotron">
   <p><%= @article.text %>.</p>
   <div class='container'>
   <% if current_user.username==@article.authername %> 
    <div class="pull-right label">
        <button type="button" class="btn btn-outline-success"><%= link_to 'Edit', edit_article_path(@article) ,  :class => 'text-success'%></button>
        <button type="button" class="btn btn-outline-danger"><%= link_to 'Delete', article_path(@article),  :class => 'text-danger',method: :delete,data: { confirm: 'Are you sure?' } %></button>
      </div>
    </div>
    <% end %>
 </div> 


 
<h2>Comments</h2>
<%# rendering from views/comments/_comment.html.erb %>

 <%= render @article.comments %>

<h2>Add a comment:</h2>
<%# rendering from views/comments/_form.html.erb %>
 <%= render 'comments/form' %> 
  
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>